= javascript_include_tag 'score_sort'
%p
  %a{:href => root_url} ホームに戻る
%h1
  DJ #{@user[:djname]}
%ul.nav.nav-pills
  %li.active
    %a{"data-toggle" => "tab", :href => "#SP"} Single Play
  %li
    %a{"data-toggle" => "tab", :href => "#DP"} Double Play
.tab-content
  - ["SP", "DP"].each do |playtype|
    %div{:class => tab_class(playtype), :id => playtype}
      %ul.nav.nav-tabs
        - 12.downto(1).each do |level|
          %li{ class: ('active' if level == 12) }
            %a{"data-toggle" => "tab", :href => "##{playtype + level.to_s}"}
              ☆#{level}
      .tab-content
        - 12.downto(1).each do |level|
          .tab-pane{ id: playtype + level.to_s, class: ('active' if level == 12) }
            %table.table.table-bordered.table-striped
              %thead
                %tr
                  %th
                    %a{:href => "javascript:void(0);", :onclick => "alphabetSort(0, '#{playtype + level.to_s}');"} Difficulty
                  %th
                    %a{:href => "javascript:void(0);", :onclick => "alphabetSort(1, '#{playtype + level.to_s}');"} Title
                  %th
                    %a{:href => "javascript:void(0);", :onclick => "clearSort(2, '#{playtype + level.to_s}');"} Clear
                  %th
                    %a{:href => "javascript:void(0);", :onclick => "integerSort(3, '#{playtype + level.to_s}');"} Score
                  %th
                    %a{:href => "javascript:void(0);", :onclick => "floatSort(4, '#{playtype + level.to_s}');"} Rate
                  %th
                    %a{:href => "javascript:void(0);", :onclick => "bpSort(5, '#{playtype + level.to_s}');"} BP
              %tbody
                - @musics[playtype][level].each do |music|
                  %tr
                    - [:difficulty, :title].each do |symbol|
                      %td
                        = music[symbol]
                    - score = nil
                    - begin
                      - score = @scores[playtype][music[:title]][music[:difficulty]]
                    - rescue
                    - if score
                      - [:clear, :exscore, :rate, :bp].each do |symbol|
                        %td
                          = score[symbol]
                    - else
                      %td -
                      %td 0
                      %td 0
                      %td -
            / End of table
