<h1>RPS</h1>

<p>
  RPSへようこそ！<br>
  beatmaniaIIDX tricoroの☆8〜☆12のスコアからスコア力、☆11〜☆12のランプ状況からクリア力を総合的に判断し、数値化するサービスを提供しています。<br>
  ☆8〜☆10に表示されている曲名が各レベルで最も高いスコアレートの曲で、その上の数値がそこから算出した単発スコア力です。<br>
  ☆11,☆12,総合の上段が各レベルスコア力、下段青文字がクリア力になります。<br>
  <br>
  ご利用になるためには以下のFirefox用の拡張をインストールしてください。<br>

  <br>
  <a href="http://titech.ikst.jp/IIDXScoreSenderForRPS.xpi">Firefox用スコア送信ツール</a><br>
  5/3 12:43 更新<br>
  <br>
  e-amusement GATEにログインしてtricoroのページ上部に表示されるボタンからスコアを送信してください。(課金が必要です。)<br>
  なお、本サービスおよびスコア送信ツールを利用して発生したいかなる損害も当方は責任を負わないものとします。<br>
  <br>
</p>

<h2>DJ LIST</h2>

<ul class="nav nav-pills">
  <li class="active"><a href="#SP" data-toggle="tab">Single Play</a></li>
  <li><a href="#DP" data-toggle="tab">Double Play</a></li>
</ul>
<div class="tab-content">
  <% ["SP", "DP"].each do |playtype| %>
  <div class="<%= tab_class(playtype) %>" id="<%= playtype %>">
    <!-- Start of table -->
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>DJNAME</th>
          <th>IIDX ID</th>
          <% (8..12).each do |level| %>
            <th>☆<%= level %></th>
          <% end %>
          <th>総合</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <% next unless user[:iidxid] =~ /[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]/%>
        <tr>
          <% [:djname, :iidxid].each do |symbol| %>
          <td>
            <% if symbol == :djname %>
              <a href ="<%= root_url + 'scores/' + user[:iidxid] %>"><%= user[symbol] %></a>
            <% else %>
              <%= user[symbol] %>
            <% end %>
          </td>
          <% end %>

          <% power = Power.find(iidxid: user[:iidxid]) %>
          <% (8..12).each do |level| %>
            <td>
              <% score_sym = (playtype.downcase + level.to_s + "score").to_sym %>
              <% power[score_sym] ||= 0 %>
              <%= "%.2f" % power[score_sym] %>
              <br>
              <% if (8..10).include?(level) %>
                <% title_sym = (playtype.downcase + level.to_s + "title").to_sym %>
                <%= power[title_sym] %>
              <% else %>
                <font color="#223399">
                  <% clear_sym = (playtype.downcase + level.to_s + "clear").to_sym %>
                  <% power[clear_sym] ||= 0 %>
                  <% if power[clear_sym] != "Infinity" %>
                    <%= "%.2f" % power[clear_sym] %>
                  <% else %>
                    Infinity
                  <% end %>
                </font>
              <% end %>
            </td>
          <% end %>
          <td>
            <% total_sym = (playtype.downcase + "total").to_sym %>
            <% power[total_sym] ||= 0 %>
            <%= "%.2f" % power[total_sym] %>
            <br>
            <font color="#223399">
              <% clear_sym = (playtype.downcase + "cleartotal").to_sym %>
              <% power[clear_sym] ||= 0 %>
              <% if power[clear_sym] != "Infinity" %>
                <%= "%.2f" % power[clear_sym] %>
              <% else %>
                Infinity
              <% end %>
            </font>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <!-- End of table -->
  </div>
  <% end %>
</div>
