<h1>Musics Diff</h1>

<p>
  余計なデータは削除し、必要な曲はノーツ情報をいれるページです。
</p>

<h4><%= @djname %>がプレーしているがノーツ情報がない譜面</h4>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Difficulty</th>
      <th>Title</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @nodatas.each do |nodata| %>
    <tr>
      <td>
        <%= nodata.playtype %>
        <%= nodata.difficulty %>
      </td>
      <td>
        <%= nodata.title %>
      </td>
      <td>
        入力
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<h4><%= @djname %>がプレーしていない譜面</h4>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Difficulty</th>
      <th>Title</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        A
      </td>
      <td>
        冥
      </td>
      <td>
        2000
      </td>
      <td>
        削除
      </td>
    </tr>
  </tbody>
</table>
