<h1>Musics</h1>

<p>
  Music data for RPS
</p>

<ul class="nav nav-pills">
  <li class="active"><a href="#SP" data-toggle="tab">Single Play</a></li>
  <li><a href="#DP" data-toggle="tab">Double Play</a></li>
</ul>
<div class="tab-content">
  <% ["SP", "DP"].each do |playtype| %>
  <div class="<%= tab_class(playtype) %>" id="<%= playtype %>">
    <ul class="nav nav-tabs">
    <% 12.downto(1).each do |level| %>
      <% if level == 12 %>
      <li class="active">
      <% else %>
      <li>
      <% end %>
        <a href="#<%= playtype + level.to_s %>" data-toggle="tab">☆<%= level %></a>
      </li>
    <% end %>
    </ul>

    <div class="tab-content">
    <% 12.downto(1).each do |level| %>
      <% if level == 12 %>
      <div class="tab-pane active" id="<%= playtype + level.to_s %>">
      <% else %>
      <div class="tab-pane" id="<%= playtype + level.to_s %>">
      <% end %>
        <!-- Start of table -->
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Difficulty</th>
              <th>Title</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <% @musics[playtype][level].each do |music| %>
            <tr>
              <% [:difficulty, :title, :notes].each do |symbol| %>
              <td>
                <%= music[symbol] %>
              </td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
        <!-- End of table -->
      </div>
    <% end %>
    </div>
  </div>
  <% end %>
</div>
